<h1>{{title}}</h1>
<p>welcome to {{title}}</p>
<div>
    <a href="/mainPage/toLogPage">登录</a>
    <a href="/mainPage/toRegPage">注册</a></div>
<div>
    <a href="/chatPage/toOthersLog">暴走页面登录</a>
    <a href="/chatPage/toOthersReg">暴走页面注册</a>
</div>
