
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">

    <script type="text/javascript" src="http://code.jquery.com/jquery-1.9.1.min.js"></script>
    <link rel="stylesheet" href="//apps.bdimg.com/libs/jqueryui/1.10.4/css/jquery-ui.min.css">
    <script src="//apps.bdimg.com/libs/jqueryui/1.10.4/jquery-ui.min.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/css/bootstrap.min.css">
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/js/bootstrap.min.js"></script>
    <link rel="stylesheet" type="text/css" href="/static/easyui/css/easyui.css">

    <link rel="stylesheet" type="text/css" href="http://www.jeasyui.net/Public/js/easyui/themes/icon.css">
    <script type="text/javascript" src="http://www.jeasyui.net/Public/js/easyui/jquery.easyui.min.js"></script>
    <style type="text/css">
        .m15 {
            margin: 15px;
        }

        .tc {
            text-align: center;
            font-size: 18px;
            font-weight: 600;
        }

        /*设置密码的可见性*/
        @font-face {
            font-family: 'iconfont';
            src: url('//at.alicdn.com/t/font_674189_dvawifegwrj.eot');
            src: url('//at.alicdn.com/t/font_674189_dvawifegwrj.eot?#iefix') format('embedded-opentype'),
            url('//at.alicdn.com/t/font_674189_dvawifegwrj.woff') format('woff'),
            url('//at.alicdn.com/t/font_674189_dvawifegwrj.ttf') format('truetype'),
            url('//at.alicdn.com/t/font_674189_dvawifegwrj.svg#iconfont') format('svg');
        }

        .bui-input {
            box-sizing: border-box;
            height: 34px;
            padding: 8px 10px;
            line-height: 24px;
            border: 1px solid #DDDDDD;
            color: #5F5F5F;
            font-size: 14px;
            vertical-align: middle;
            border-radius: 4px;
            width: 260px;
        }

        .bui-input:hover {
            border: 1px #659aea solid;
        }

        .bui-input:focus {
            outline: none;
            border: 1px solid #4F9FE9;
            box-shadow: 0 0 3px 0 #2171BB;
            color: #595959;
        }

        .password-wrap {
            position: relative;
            width: 260px;
        }

        .password-wrap .bt-showpwd {
            color: #999999;
            position: absolute;
            top: 8px;
            right: 2px;
            line-height: 24px;
            width: 8px;
            height: 24px;
            text-align: center;
            cursor: pointer;/*规定要显示的光标的类型（形状）：光标呈现为指示链接的指针（一只手）*/
        }

        .password-wrap .bt-showpwd.off::before {
            content: "\e60a";
            font-family: "iconfont";
            font-size: 18px;
        }

        .password-wrap .bt-showpwd.on::before {
            content: "\e60b";
            font-family: "iconfont";
            font-size: 18px;
        }

    </style>
</head>

<body style="background-image: url('/images/findPwdBg.gif')">
<div class="box">
    <div class="container" style="height: 480px">
        <form class="col-sm-offset-4 col-sm-4 form-horizontal" role="form" method="post" onsubmit="return false">
            <fieldset>
                <legend></legend>
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <p class="tc">密码重置</p>
                    </div>
                    <div class="panel-body m15">
                        <div class="form-group">
                            <div class="input-group">
                                <span class="input-group-addon">
                                    <span class="glyphicon glyphicon-user" style="margin-left: 5px"></span>
                                </span>
                                <input type="text" class="form-control" id="nameOrPhone" name="nameOrPhone"
                                       placeholder="请输入用户名/手机号" title="名字/手机号不能为空" maxlength="12" minlength="1">
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="input-group">
                                <span class="input-group-addon">
                                    <span class="glyphicon glyphicon-lock" style="margin-left: 5px"></span>
                                    </span>
                                <div class="password-wrap">
                                    <div class="password-input">
                                        <input type="password" name="password" id="password" value='' class="bui-input"
                                               autocomplete="off"
                                               placeholder="请再次输入密码" title="确认密码不能为空" maxlength="12" minlength="6"
                                               style="width: 274px"/>
                                    </div>
                                    <i class="bt-showpwd off"></i>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="input-group">
                                <span class="input-group-addon">
                                <span class="glyphicon glyphicon-lock" style="margin-left: 5px"></span>
                                </span>
                                <div class="password-wrap">
                                    <div class="password-input">
                                        <input type="password" class="bui-input" autocomplete="off" id="repassword"
                                               name="repassword"
                                               placeholder="请再次输入密码" title="确认密码不能为空" maxlength="12" minlength="6"
                                               style="width: 274px"/>
                                    </div>
                                    <i class="bt-showpwd off"></i>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <button type="button" class="btn btn-primary btn-block" onclick="findPwd()">确定</button>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-6 col-sm-offset-7">
                                <a href="/mainPage/toLogPage">邮箱验证找回密码</a></div>
                        </div>
                    </div>
                </div>
            </fieldset>
        </form>
    </div>
</div>

<script>

    //设置密码的可见性
    $(".bt-showpwd").on("click", function (e) {
        e.preventDefault();
        var $this = $(this);
        var $password = $this.closest(".password-wrap");
        var $input = $password.find('input');
        var $inputWrap = $password.find('.password-input');
        var newinput = '', inputHTML = $inputWrap.html(), inputValue = $input.val();
        if ($input.attr('type') === 'password') {
            newinput = inputHTML.replace(/type\s*=\s*('|")?password('|")?/ig, 'type="text"');
            $inputWrap.html(newinput).find('input')[0].value = inputValue;
            $this.removeClass("off").addClass("on");
        } else {
            newinput = inputHTML.replace(/type\s*=\s*('|")?text('|")?/ig, 'type="password"');
            $inputWrap.html(newinput).find('input')[0].value = inputValue;
            $this.removeClass("on").addClass("off");
        }
    });

    function findPwd() {
        let newPhone = {{newPhone}};
        //alert(newPhone)
        let nameOrPhone = $("#nameOrPhone").val();
        let password = $("#password").val();
        let repassword = $("#repassword").val();
        if(!nameOrPhone){
            $("#nameOrPhone").css("border", "1px solid red");
            $('#nameOrPhone').tooltip({
                position: 'right',
                content: '<span style="color:#FF0000">请输入用户名/手机号</span>',
                onShow: function () {
                    $(this).tooltip('tip').css({
                        backgroundColor: '#666',
                        borderColor: '#666'
                    });
                }
            });
        }else{
            $("#nameOrPhone").css("border", "1px solid silver");
            if(!password){
                $("#password").css("border", "1px solid red");
                $('#password').tooltip({
                    position: 'right',
                    content: '<span style="color:#FF0000">请输入密码</span>',
                    onShow: function () {
                        $(this).tooltip('tip').css({
                            backgroundColor: '#666',
                            borderColor: '#666'
                        });
                    }
                });
            }else {
                if (password.length < 6) {
                    $("#password").css("border", "1px solid red");
                    $('#password').tooltip({
                        position: 'right',
                        content: '<span style="color:#FF0000">密码长度最少为六位</span>',
                        onShow: function () {
                            $(this).tooltip('tip').css({
                                backgroundColor: '#666',
                                borderColor: '#666'
                            });
                        }
                    });
                }else {
                    $("#password").css("border", "1px solid silver");
                    if(!repassword){
                        $("#repassword").css("border", "1px solid red");
                        $('#repassword').tooltip({
                            position: 'right',
                            content: '<span style="color:#FF0000">请再次输入密码</span>',
                            onShow: function () {
                                $(this).tooltip('tip').css({
                                    backgroundColor: '#666',
                                    borderColor: '#666'
                                });
                            }
                        });
                    }else {
                        $("#password").css("border", "1px solid silver");
                        if (repassword.length < 6) {
                            $("#repassword").css("border", "1px solid red");
                            $('#repassword').tooltip({
                                position: 'right',
                                content: '<span style="color:#FF0000">密码长度最少为六位</span>',
                                onShow: function () {
                                    $(this).tooltip('tip').css({
                                        backgroundColor: '#666',
                                        borderColor: '#666'
                                    });
                                }
                            });
                        }else {
                            $("#password").css("border", "1px solid silver");
                            if(password != repassword){
                                $("#password").css("border", "1px solid red");
                                $("#repassword").css("border", "1px solid red");
                                $('#repassword').tooltip({
                                    position: 'right',
                                    content: '<span style="color:#FF0000">密码输入不一致</span>',
                                    onShow: function () {
                                        $(this).tooltip('tip').css({
                                            backgroundColor: '#666',
                                            borderColor: '#666'
                                        });
                                    }
                                });
                            }else {
                                $("#password").css("border", "1px solid silver");
                                $("#repassword").css("border", "1px solid silver");
                                let data = {
                                    "newPhone":newPhone,
                                    "nameOrPhone": nameOrPhone,
                                    "password": password,
                                    "repassword": repassword
                                };
                                $.ajax({
                                    url: '/mainPage/ByPhone',
                                    type: 'post',
                                    data: data,
                                    success: function (data) {
                                        if (data.success) {
                                            alert(data.msg)
                                            location.href = '/mainPage/toLogPage';
                                        } else {
                                            alert(data.msg);
                                        }
                                    },
                                    error: function () {
                                        alert("修改密码失败！")
                                    }
                                });
                            }
                        }
                    }
                }
            }
        }
    }

</script>
</body>
</html>



